<h1>Welcome to Benetech Recorder version 1.0.1 Alpha!</h1>
<%= link_to "Make a new recording/Upload a text file", "submissions/create" %>
<p> <%= link_to "View all submissions",  "submissions/index" %> </p>
