body {
	background-color: #EAD3A8;
	font-family: "Courier New", Courier, monospace;
}
#title_container {
	width:1000px;
	height:80px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	font-size: 25px;
}
#content_container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#arrow a {
	text-decoration: none;
	font-size: 20px;
}
#content_container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
#text {
	float: left;
	width: 50%;
	margin-left: 0px;
}
#audio_upload_container {
	width: 45%;
	float: left;
	border-left: 1px solid black;
}
#button_container {
	margin-top: 20px;
}
#upload_rec {
	margin-left: 60px;
	margin-bottom: 20px;
}